.custom-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border-radius: 16px;

  form {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0 0 7px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 13px;
    }

    @include vp-767 {
      font-size: 18px;
    }
  }

  p {
    margin: 0;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.custom-form--primary {
  max-width: 498px;
  padding: 82px 74px 41px;
  background-color: $color-cerulean-blue;

  @include vp-1439 {
    padding: 60px 46px 58px;
    max-width: 442px;
  }

  @include vp-767 {
    padding: 53px 16px 50px;
  }

  form {
    gap: 17px;

    @include vp-767 {
      gap: 20px;
    }
  }

  h2 {
    margin-bottom: 25px;
    color: $color-default-white;

    @include vp-1439 {
      margin-bottom: 28px;
    }

    @include vp-767 {
      margin-bottom: 19px;
      line-height: 18px;
    }
  }

  p {
    margin-bottom: 29px;
    color: $color-alabaster-90;

    @include vp-1439 {
      margin-bottom: 32px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }
}

.custom-form--modal {
  max-width: 510px;
  padding: 53px 81px 60px;
  background-color: $color-default-white;

  form {
    gap: 16px;

    @include vp-767 {
      gap: 13px;
    }
  }

  h2 {
    text-align: center;
    color: $color-cerulean-blue;

    @include vp-767 {
      margin-bottom: 6px;
      line-height: 22px;
    }
  }

  p {
    text-align: center;
    margin-bottom: 18px;
    color: $color-charcoal;

    @include vp-1439 {
      margin-bottom: 21px;
    }

    @include vp-767 {
      margin-bottom: 17px;
    }
  }

  @include vp-1439 {
    padding-top: 55px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 35px 15px 40px;
  }
}

.custom-form__input {
  position: relative;
  width: 100%;

  label,
  .custom-form__wrapper {
    display: flex;
    flex-direction: column;
  }

  span {
    font-size: 14px;
    font-weight: 400;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      line-height: 14px;
    }
  }

  input,
  textarea {
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    border-radius: 8px;
    border: none;
    transition: outline $trans-default;
    background-color: $color-transparent;
  }

  input {
    padding: 12px 25px;
    min-height: 48px;
  }

  textarea {
    padding: 16px 25px;
    min-height: 96px;
    resize: none;
    appearance: none;

    @include vp-767 {
      min-height: 92px;
    }
  }
}

.custom-form__input.is-invalid {
  input,
  textarea {
    outline: 1px solid $color-wild-watermelon;
    background-color: $color-wild-watermelon-20;
  }
}

.custom-form__input--primary {
  label,
  .custom-form__wrapper {
    gap: 9px;

    @include vp-767 {
      gap: 10px;
    }

    &:focus-within span {
      color: $color-alabaster;
    }

    &:hover span {
      color: $color-alabaster;
    }

    &:hover input,
    &:hover textarea {
      outline: 1px solid $color-default-white;
    }
  }

  span {
    margin-left: -1px;
    line-height: 18px;
    color: $color-alabaster-80;

    @include vp-767 {
      font-size: 12px;
    }
  }

  input,
  textarea {
    outline: 1px solid $color-white-30;
    color: $color-default-white;

    &:active,
    &:focus {
      outline: 1px solid $color-default-white;
    }
  }
}

.custom-form__input--modal {
  label,
  .custom-form__wrapper {
    gap: 8px;

    &:focus-within span {
      color: $color-charcoal;
    }

    &:hover span {
      color: $color-charcoal;
    }

    &:hover input,
    &:hover textarea {
      outline: 1px solid $color-charcoal;
    }

    @include vp-767 {
      gap: 6px;
    }
  }

  span {
    line-height: 20px;
    color: $color-charcoal-80;
  }

  input,
  textarea {
    color: $color-charcoal;
    outline: 1px solid $color-charcoal-30;

    &:active,
    &:focus {
      outline: 1px solid $color-charcoal;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }

  input {
    @include vp-767 {
      min-height: 42px;
    }
  }
}

.custom-form__input--primary.is-disabled {
  pointer-events: none;
  cursor: default;

  span {
    color: $color-alabaster-60;
  }

  input,
  textarea {
    opacity: 0.4;
    outline: 1px solid $color-default-white;
    background-color: $color-white-20;
  }
}

.custom-form__input--modal.is-disabled {
  pointer-events: none;
  cursor: default;

  span {
    color: $color-mischka-60;
  }

  input,
  textarea {
    outline: 1px solid $color-mischka-50;
    background-color: $color-mischka-20;
  }
}

.custom-form__toggle {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  width: 100%;

  label {
    position: relative;
    width: 100%;
    display: flex;
    gap: 10px;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  span {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: all $trans-default;
    border-radius: 2px;
    cursor: pointer;
  }

  svg {
    position: absolute;
    display: none;
    left: 5px;
    width: 10px;
    height: 8px;
  }

  b {
    font-weight: 400;
    margin: 4px 0 0;
    cursor: pointer;
  }
}

.custom-form__toggle.is-invalid {
  span {
    border: 1px solid $color-wild-watermelon;
    background-color: $color-wild-watermelon-20;
  }
}

.custom-form__toggle.is-disabled {
  pointer-events: none;

  span,
  b {
    cursor: default;
  }

  input:checked + span {
    border: none;
    background-color: $color-mischka;
  }

  input:checked + svg {
    color: $color-white-70;
  }
}

.custom-form__toggle--primary.is-disabled {
  input + span {
    border: 1px solid $color-default-white;
    background-color: $color-white-60;
  }
}

.custom-form__toggle--modal.is-disabled {
  input + span {
    border: 1px solid $color-cerulean-blue;
    background-color: $color-cerulean-blue-60;
  }
}

.custom-form__toggle--primary {
  margin: 4px 0 23px -1px;

  span {
    border: 1px solid $color-white-70;
    background-color: $color-cerulean-blue;
  }

  b {
    color: $color-white-90;

    @include vp-767 {
      margin-top: -3px;
      line-height: 14px;
    }
  }

  input:checked + span {
    background: $color-default-white;
    border: none;
  }

  input:checked ~ svg {
    top: 6px;
    display: block;
    color: $color-cerulean-blue;
  }

  @include vp-767 {
    margin: 5px 0 9px 11px;
  }
}

.custom-form__toggle--primary input {
  @include hover-focus {
    + span {
      background-color: $color-cerulean-blue;
      border: 1px solid $color-default-white;
    }

    ~ b {
      color: $color-default-white;
    }
  }
}

.custom-form__toggle--primary input:checked {
  @include hover-focus {
    ~ svg {
      color: $color-default-white;
    }
  }
}

.custom-form__toggle--modal {
  margin: 2px -1px 14px;

  span {
    margin-top: 3px;
    border: 1px solid $color-cerulean-blue-70;
    background-color: $color-default-white;
  }

  b {
    align-self: center;
    color: $color-charcoal-90;

    @include vp-767 {
      margin-top: 0;
      line-height: 14px;
    }
  }

  input:checked + span {
    background: $color-cerulean-blue;
    border: none;

    @include vp-767 {
      margin: 4px 0;
    }
  }

  input:checked ~ svg {
    top: 9px;
    display: block;
    color: $color-default-white;
  }

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.custom-form__toggle--modal input {
  @include hover-focus {
    + span {
      background-color: $color-default-white;
      border: 1px solid $color-cerulean-blue;
    }

    ~ b {
      color: $color-charcoal;
    }
  }
}

.custom-form__toggle--modal input:checked {
  @include hover-focus {
    ~ svg {
      color: $color-cerulean-blue;
    }
  }
}
