.news__title {
  margin: 12px 0 52px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: $color-cerulean-blue;
  text-align: center;

  @include vp-1439 {
    margin: 13px 0 43px;
    font-size: 34px;
  }

  @include vp-767 {
    margin: 5px 0 30px;
    font-size: 20px;
    line-height: 20px;
  }
}

.news__tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto 40px;
  gap: 30px;

  @include vp-1439 {
    margin-bottom: 30px;
    gap: 10px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    width: auto;
    margin-bottom: 24px;
    overflow: hidden;
    gap: 12px;
  }
}

.news__tabs-button {
  padding: 13px 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background-color: $color-transparent;
  color: $color-cerulean-blue-60;
  border: 1px solid $color-transparent;
  border-radius: 20px;

  @include vp-1439 {
    padding: 13px 19px;
  }

  @include vp-767 {
    padding: 9px 13px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  @include hover-focus {
    color: $color-cerulean-blue;
  }

  @include active {
    color: $color-cerulean-blue;
    border-color: $color-cerulean-blue;
  }
}

.news__swiper-wrapper {
  margin: 0;
  padding: 0 0 72px;
  list-style: none;

  @include vp-1439 {
    flex-wrap: wrap;
    flex-direction: column;
    height: 730px;
    padding-bottom: 62px;
  }

  @include vp-767 {
    height: 590px;
    padding-bottom: 50px;
  }
}

.news__swiper-slide {
  position: relative;
  width: 286px;
  height: 400px;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

  @include vp-1439 {
    width: 324px;
    height: 350px;
  }

  @include vp-767 {
    width: 290px;
    min-height: 330px;

    &:nth-child(2n) {
      min-height: 240px;
      max-height: 240px;
    }
  }
}

.news__swiper-slide.swiper-slide-active {
  @media (min-width: ($vp-1440)) {
    width: 604px;

    h3 {
      width: 291px;
    }

    p {
      width: 325px;
    }
  }
}

.news__swiper-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  @include angle;

  &::after {
    top: -22px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: $color-alabaster;
  }
}

.news__swiper-content span {
  position: relative;
  padding: 12px 12px 6px 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  @include angle;

  &::after {
    bottom: 0;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: $color-alabaster;
  }
}

.news__swiper-content h3 {
  position: relative;
  width: 214px;
  margin: 0;
  padding: 18px 18px 6px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: $color-cerulean-blue;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  @include vp-1439 {
    width: 207px;
    padding: 10px 16px 6px 0;
    font-size: 20px;
    line-height: 24px;
  }

  @include vp-767 {
    width: 200px;
    padding: 10px 18px 4px 0;
    font-size: 16px;
    line-height: 18px;
  }

  @include angle;

  &::after {
    bottom: 0;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: $color-alabaster;
  }
}

.news__content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 18px 15px 0;
  gap: 16px;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;

  @include vp-767 {
    padding: 12px 10px 10px 0;
    gap: 10px;
  }

  @include angle;

  &::after {
    bottom: 0;
    right: -16px;
    width: 16px;
    height: 16px;
    background-color: $color-alabaster;
  }
}

.news__content-wrapper p {
  width: 176px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    width: 213px;
    font-size: 12px;
    line-height: 14px;
  }
}

.news__control-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.news__pagination {
  display: flex;
  gap: 20px;
  overflow: hidden;

  @include vp-767 {
    gap: 16px;
  }

  .swiper-pagination-bullet {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $color-cerulean-blue-50;
    background-color: $color-transparent;
    border: 1px solid $color-transparent;
    border-radius: 50%;
    cursor: pointer;

    @include hover-focus {
      color: $color-cerulean-blue;
      background-color: $color-transparent;
      border-color: $color-cerulean-blue;
    }

    @include active {
      color: $color-default-white;
      background-color: $color-endeavour;
      border-color: $color-endeavour;
    }

    @include vp-767 {
      width: 26px;
      height: 26px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .swiper-pagination-bullet-active {
    color: $color-default-white;
    background: $color-cerulean-blue;
    border-color: $color-cerulean-blue;

    @include vp-767 {
      font-weight: 500;
    }
  }
}
