@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin active {
  &:active,
  &.is-active {
    @content;
  }
}

@mixin disabled {
  &:disabled,
  &.is-disabled {
    @content;
  }
}

@mixin angle {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask-image: url("../img/svg/angle.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: $color-default-white;
  }
}

// Desktop first

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
